@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;700&display=swap');

@font-face {
    font-family: Verdana;
    src: url(./Verdana-Font/Verdana.ttf);
}


img {
    height: 34px;
}
/* 
.resultat2 {
    display: inline-block;
    position: fixed;
    
} */

body{
    background-color: rgb(44, 47, 58);
    color: white;
    font-family: Verdana;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jeu {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* margin-top: 50px; */
    padding: 30px
}

.choix, .choixIa {
    margin-right: 35px;
    margin-left: 35px;
}

button.playBtn {
    border-radius: 20px;
    margin: 10px;
    padding: 10px
}


.choice {
    display: flex;
    justify-content: space-evenly;
    
}
.playerChoice {
    height: 60px;
}

.iaChoice {
    padding-left: 20px;
    height: 60px;
    margin-left: 50px;

}

.score {
    margin-top: 80px;
    margin-bottom: 40px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 200px);
    text-align: center;
    font-size: 30px;
    padding: var(--btn-padding);
    border-radius: 15px; 
    border: solid 1px #fff;

}

.playBtnIa {
    background-color: gray;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    cursor: not-allowed;
}

  #resultat {
    display: flex;
    justify-content: center;
    margin-bottom: 80px
  }
  #resultat2 {
    display: flex;
    align-items: center;
    justify-content: center;
    animation-delay: 1s;
  }

  #next {
    font-size: 20px;
    letter-spacing: 1.5px;
  }
  #message {
    font-weight: bolder;
  }

  @media screen and (max-width: 750px) {
    .choixIa {
        display: none;
    }
  }